main {
 padding-left: 0%;
}

caption {
    font-size: 2rem;
}

article {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
    font-size: 50%;
    border: 0.2% solid black;
    padding: 1%;

}

.table1 > table,
.table2 > table {
    border-collapse: collapse;
}

.table1 td {
    padding: 1rem;
    border: 0.2rem solid black;
    width: 10rem;
    background-color: white;
}

.table2 {
    border-collapse: collapse;
}

.table2 td {
    padding: 2rem;
    border: 0.2rem solid black;
}

.table2 .cyan {
    background-color: cyan;
}

.table2 .beige {
    background-color: lightgoldenrodyellow;
}

.table2 .red {
    background-color: red;
}

.table2 .blue {
    background-color: blue;
}

.table2 .green {
    background-color: lawngreen;
}

.table2 .yellow {
    background-color: yellow;
}

.form1 label:not(.nonesp) {
    float: right;
}

.form1 .sell-button {
    text-align: right;
}

.form1 .amount {
    width: 32%
}

.form1 .address {
    width: 100%
}

.form1 textarea {
    width: 120%
}

.form1,
.form2 {
    font-size: 1rem;
}

.form2 .button {
    color: #0384b7;
    font-size: 0.9em;
    font-weight: bold;
}
