@font-face {
    font-weight: 400;
    font-family: "Roboto";
    font-style: normal;
    src:
        local("Roboto Regular"),
        url("roboto.woff") format("woff");
}

html,
body {
    margin: 0%;
    padding: 0%;
    font-size: 88%;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #161a1e;
}

.page-header {
    position: relative;
    min-height: 0%;
    padding: 2%;
    color: white;
    box-shadow: 0% 0% 0.5% 0% #333333;
}

nav {
    position: relative;
    margin-left: 50%;
    font-size: 220%;
    z-index: 1000;
}


img {
    border-radius: 100%;
    width: 10%;
    height: 10%;
}

.logo {
    position: absolute;
    margin-top: -5%;
    margin-left: 2%;
    z-index: 100;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 5%;
}

.main-menu a {
    color: #fcfcee;
    text-decoration: none
}

main {
    min-height: 20%;
    padding-top: 5%;
    color: black;
    background-color: white;
    padding-bottom: 5%;
    padding-left: 15%;
    

}

section > div {
    padding: 1%;
    border-radius: 2rem;
    margin-right: 15%;
    margin-bottom: 1%;
    font-size: 120%;
}

div.about-me {
    background-color: lightcoral;
    margin-left: 15%;

}

div.nvsu {
    background-color: lightblue;
    margin-left: 16%;
}

div.prof {
    background-color: lightsalmon;
    margin-left: 17%;
}

div.hobby {
    background-color: #77dd77;
    margin-left: 18%;
}

.jopas {
    background-color="red"
}
